.header{
  width: 30%;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;

}


.HeaderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.cards-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.card-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.temp-icon {
  font-size: 80px !important ; /* الحجم للشاشات الكبيرة */
}

/* تغيير لون نص التوضيح داخل حقل الإدخال */
.city-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* تأثير تحريك الماوس على زر البحث */
.search-button:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
    transform: scale(1.03);
}

@media (max-width: 768px) {
  .header {
    width: 80%;
  }
  .cards-container {
    top: 50%;
    left: 50%;

/* زيادة نسبة Scale إلى 0.88 لتبقى كبارة وواضحة */
    transform: translate(-50%, -50%) scale(0.88);
    width: 95%;
    max-width: 480px;
  }
  .cards-container .card-content > div:last-child {
    gap: 15px !important;
  }

  .card-info p{
    display: block;
    margin-bottom: 5px;
  }

  .temp-icon{
    font-size: 40px !important; /* الحجم للشاشات الصغيرة */
  }
}